@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #222831;
    --fg: #EEEEEE;
    --passive: #393E46;
    --accent: #00ADB5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--fg);
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
}

button {
    padding: 10px 32px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--passive);
    border: none;
    cursor: pointer;
}

.accent-text {
    color: var(--accent);
}

.passive-text {
    color: var(--passive);
    filter: brightness(150%);
}

.accent-button {
    background-color: var(--accent);
    color: var(--fg);
}


/*
 * ////////////////////////////////////////////////////////////////////
 * NAVBAR
 */
nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem;
    border-bottom: 1px solid var(--passive);
    background-color: var(--bg);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}

/* 
 * ////////////////////////////////////////////////////////////////////
 * CONTAINER
 */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container h1 {
    font-size: 96px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-links {
    display: flex;
    gap: 24px;
}

.blog {
    margin-top: 24px;
    width: 100%;
}

.blog ul {
    list-style-type: none;
    padding: 16px;
}

.blog ul li {
    background-color: var(--passive);
    border-radius: 16px;
    padding: 24px 16px;
    margin-bottom: 16px;
}

/** 
 * ////////////////////////////////////////////////////////////////////
 * FOOTER
 */
footer {
    display: flex;
    width: 100%;
    border-top: 1px solid var(--passive);
}

footer>div {
    display: flex;
    gap: 38px;
    flex-direction: column;
    max-width: 1440px;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
}

footer>div>div {
    display: flex;
    gap: 48px;
}

/** 
 * ////////////////////////////////////////////////////////////////////
 * FORM
 */
form {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

input,
textarea {
    border: none;
    border-radius: 16px;
    background-color: var(--passive);
    padding: 16px 24px;
    font-weight: bold;
    font-size: 18px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;

}


/** 
 * ////////////////////////////////////////////////////////////////////
 * RESPONSIVENESS
 */
@media (max-width: 800px) {

    h1,
    .hero h1 {
        font-size: 55px;
        padding: 0 16px;
    }

    .hero h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    .header {
        margin-top: 48px;
        flex-direction: column;
    }

    .header img {
        transform: scale(.65);
        z-index: -1;
    }

    .hero-links {
        justify-content: center;
    }

    form {
        min-width: 100%;
    }

    form div {
        flex-direction: column;
        align-self: stretch;
    }

}

