@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #222831;
    --fg: #EEEEEE;
    --passive: #393E46;
    --accent: #00ADB5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--fg);
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg);
}

/*
 * ////////////////////////////////////////////////////////////////////
 * NAVBAR
 */
nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem;
    border-bottom: 1px solid var(--passive);
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
}